## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
*.exe
*.dll
*.pdb
*.cache
*.log

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
*.nuspec
project.lock.json
project.fragment.lock.json
artifacts/

## Rider/JetBrains
.idea/
*.sln.iml

## Other
*.dbmdl
*.bak
*.tmp
*.log
*.vspscc
*.vssscc
*.class

## OS-specific
.DS_Store
Thumbs.db
